<settings>
  <id>SettingsInfoImpl-36de0a54:1485aabfc29:-3a2</id>
  <workspace>
    <id>WorkspaceInfoImpl-76eb41c8:148564a0434:-7fff</id>
    <name>georemedy</name>
  </workspace>
  <contact>
    <id>contact</id>
  </contact>
  <charset>UTF-8</charset>
  <numDecimals>8</numDecimals>
  <onlineResource>http://geoserver.org</onlineResource>
  <verbose>false</verbose>
  <verboseExceptions>false</verboseExceptions>
  <localWorkspaceIncludesPrefix>false</localWorkspaceIncludesPrefix>
</settings>